.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  .header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .loginFormError, .signupFormError{
    color: red;
  }